@model IEnumerable<TradersPortal.Models.Trader>





@section scripts
    {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#search").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/AutoComplete/',
                        data: " {'prefix' : '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }



                    });
                },
                select: function (e, i) {
                    $("#hfTrade").val(i.item.val);

                },
                minLength: 1
            });


        });


    </script>



}




@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="jumbotron">

    <p>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {



            <div class="form-inline">
                <label class="radio-inline">
                    @Html.RadioButton("option", "StateName", new { htmlAttributes = new { @class = "form-control" } }) <text>State</text>
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("option", "TradeName", new { htmlAttributes = new { @class = "form-control" } }) <text> Trade </text>
                </label>
            </div>


            <div class="form-inline">



                <input name="search" class="form-control" placeholder="Trade or City" id="search" />

                <button class="btn btn-primary btn-lg ">Search</button>

            </div>








        }


    </p>



</div>




    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade.TradeName)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.ContactFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactLastName)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trade.TradeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContactFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TraderId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TraderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TraderId })
                </td>
            </tr>
        }

    </table>























































    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
